{% extends "base.html" %}

{% block content %}

Welcome ! 🙂<br /><br />

I'm writing here everything I learn in various fields following the <a
    href="https://joelhooks.com/digital-garden/">Digital Garden</a> concept.<br /><br />

The content is mostly written for me as a mean to remember interesting things that I don't need on a day-to-day basis
but still want to keep in close proximity.<br /><br />

This is not a blog, nor host very thorough articles. Content may be incomplete or even plain wrong.<br /><br />

I try to provide source or scientific publications whenever I can to guard against the propagation of false
informations.<br /><br />

Finally, I sometimes write content in French, under the <a href="/tags/french/">french</a> tag.

{% endblock content %}