{% extends "base.html" %}
{% import "post_macros.html" as post_macros %}

{% block title %}{{config.title}} - {{page.title}}{% endblock title %}

{% block content %}

<article class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-meta">
            <span class="post-time">Date : {{ page.date | date(format="%Y-%m-%d", locale="fr_FR") }}</span>
            {% if page.taxonomies.tags %}
            <ul>
                {% for tag in page.taxonomies.tags | sort %}
                <li class="pill"><a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </header>

    {% if page.toc %}
    <div class="post-toc" id="post-toc">
        <!--<h2 class="post-toc-title">Content</h2>-->
        <div class="post-toc-content always-active">
            <nav id="TableOfContents">
                <ul>
                    {% for h1 in page.toc %}
                    <li>
                        <a href="{{h1.permalink | safe}}" class="toc-link">{{ h1.title }}</a>
                        {% if h1.children %}
                        <ul>
                            {% for h2 in h1.children %}
                            <li>
                                <a href="{{h2.permalink | safe}}" class="toc-link">{{ h2.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}

    <div class="post-content">
        {{ page.content | safe }}
    </div>

    {% block page_before_footer %}
    {% endblock page_before_footer %}

    <div class="post-footer">
        {% block page_footer %}

        {% if page.extra.sources | length > 0 or page.extra.footnotes | length > 0 %}
        <details class="sources" open>
            <summary class="sources-title">Footnotes & sources</summary>
            <ol class="footnotes-list">
                {%- for footnote in page.extra.footnotes -%}
                    <li id="{{loop.index}}">{{ footnote[0]|safe }} <a class="footnote-backlink" href="#ref:{{loop.index}}">↩</a> <a class="footnote-source-link" href="{{ footnote[1] }}">Source</a></li>
                {%- endfor -%}
                </ol>
            <ul>
                {% for source in page.extra.sources %}
                    {% if source is string %}
                <li><a href="{{ source }}">{{ source }}</a></li>
                    {% else %}
                <li id="source-{{ source[0] | urlencode_strict }}"><a href="{{ source[0] }}">{{ source[1] }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </details>
        {% endif %}

        {% if "backlinks" in page and page.backlinks | length > 0 %}
        <h4>Backlinks</h4>
        {% for page in page.backlinks %}
        <a href="{{ page.permalink }}" title="{{ page.title }}">{{ page.title }}</a>
        {% endfor %}
        {% endif %}

        {% endblock page_footer %}

    </div>

    {% block page_after_footer %}
    {% endblock page_after_footer %}
</article>

{% endblock content %}